/* === Main App Content (to fill remaining vertical space) === */
.app-main-content {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    padding: 15px; 
    box-sizing: border-box;
    overflow: hidden; 
}

/* === Chart and Toolbars Wrapper === */
.chart-and-toolbars-wrapper {
    display: flex;           
    flex-grow: 1;            

    overflow: visible; 
    gap: 5px; 
}


.chart-display-area {
    flex-grow: 1; 
    box-sizing: border-box;
    display: flex;
    background-color: #ffffff; 
    border: 1px solid #d8dde2; 
    border-radius: 6px;     
    box-shadow: 0 1px 3px rgba(0,0,0,0.05); 
    position: relative; 
}

#vol_chart {
    display: block;
    max-width: 100%; 
    max-height: 100%; 
}

.chart-toolbar-button-wrapper {
    position: absolute;
    display: grid;
    top: 16px;
    right: 16px;
    z-index: 999;
    gap: 3px;
}
