/* === Main App Content (to fill remaining vertical space) === */
.app-main-content {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    padding: 15px; 
    box-sizing: border-box;
    overflow: hidden; 
}

/* === Chart and Toolbars Wrapper === */
.chart-and-toolbars-wrapper {
    display: flex;           
    flex-grow: 1;            

    overflow: visible; 
    gap: 5px; 
}


.chart-display-area {
    flex-grow: 1; 
    box-sizing: border-box;
    display: flex;
    background-color: #ffffff; 
    border: 1px solid #d8dde2; 
    border-radius: 6px;     
    box-shadow: 0 1px 3px rgba(0,0,0,0.05); 
    position: relative; 
}

#vol_chart {
    display: block;
    max-width: 100%; 
    max-height: 100%; 
}

.chart-toolbar-button-wrapper {
    position: absolute;
    display: grid;
    top: 16px;
    right: 16px;
    z-index: 999;
    gap: 3px;
}

.toolbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2983c7; 
    border: none;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    max-width: 180px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
    white-space: nowrap;
    padding-top: 5px;

}

.toolbar-button:hover {
    background-color: #8a96a0; 
    border-color: #707070;     
    color: #000000;
}

.toolbar-button:active {
    background-color: #757F88; 
    border-color: #606060;
    transform: translateY(1px); 
}
