/* toolbar.css */

/* === Common Toolbar Styling === */
.chart-toolbar {
    width: 100px;
    padding: 2px;
    box-sizing: border-box;
    background-color: #ffffff; 
    border: 10px solid #000000; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.05); 
    
    
    max-height: 850px;
    overflow-y: scroll;       
}

.expanded{
    width: 750px;
}