<!DOCTYPE = html>
<html lang ="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Volatility Analysis</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stockbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/maincontent.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/toolbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    </head>

    <body>
        <!--Site header-->
        <header class="site-header">
            <div class="menu-container">
                <button class="menu-button" aria-haspopup="true" aria-expanded="false" title="Navigation Menu">☰</button>
                <div class="dropdown-content">
                    <p>Navigation links (not yet implemented)</p>
                </div>
            </div>
            <h1 class="header-title">Volatility Analysis</h1>
        </header>

        <!--Container for the user to fetch the period and instrument to perform the voltaility analysis-->
        <div class="stock-info-input-panel">
                <form id="script-form">
                    <label for="ticker">Ticker:</label>
                    <input type="text" id="ticker" name="ticker" placeholder="e.g. SPY" value="SPY" required>
                    <label for="start_date">Date range, from:</label>
                    <input type="date" id="start_date" name="start_date" value="2024-01-01" required>
                    <label for="end_date">to:</label>
                    <input type="date" id="end_date" name="end_date" value="2024-11-01" required>
                    <button type="submit" id="get_returns">Fetch</button>
                </form>
        </div>

        <!--Main app container-->
        <main class="app-main-content">
            <div class="chart-and-toolbars-wrapper">
                <!-- Left Toolbar -->
                <aside class="chart-toolbar chart-left-toolbar">
                    <p>Chart</p>
                    <button type="button" class="toolbar-button consol" id="toggle-consol-window" title="toggle consol"> Console</button>
                    <button type="button" class="toolbar-button studies" id="open-studies-tab" title="view studies"> Studies</button>

                    <!-- Open the sub menu when user clicks button-->
                    <button type="button" class="toolbar-button series" id="open-series-tab" title="view series"> Series</button>
                    <button type="button" class="toolbar-button pacf" id="calculate-pacf" title="calculate-pacf"> PACF</button>
                    <button type="button" class="toolbar-button model_builder" id="model-builder-view" title="build models"> Model Builder</button>
                    <button type="button" class="toolbar-button info" id="right-toolbox-info-tab" title="info"> Info</button>
                </aside>

                <!-- Chart Display Area -->
                <div class="chart-display-area">
                    <canvas id="vol_chart" aria-label="Historic Volatility Chart"></canvas>
                    <!-- Clear Chart button can be positioned absolutely within this later -->
                </div>
            </div>

            <!--Button pop up menu div's-->
            <div id="consol-popup" class="popup-menu consol">
                <button type="button" class="close-popup-button" data-target-popup="consol-popup">×</button>
            </div>

            <!--Studies popup buttons and forum elements-->
            <div id="studies-popup" class="popup-menu studies">
                <form id="SMA-volatility">
                    <input
                        type="number" id="window" name="window" class ="studies-input-field" 
                        value="20" title="Enter window length" required 
                    >
                    <button type="submit" id="get_sma" class ="studies-button">Fetch</button>
                </form>
                <form id="EWMA-volatility">
                    <input
                        type="float" id="ewma-alpha" name="ewma-alpha" class ="studies-input-field" 
                        value="0.2" title="Enter alpha, alpha between 0 and 1" required 
                    >
                    <button type="submit" id="get_ewma" class ="studies-button">Fetch</button>
                </form>
                <button type="button" class="close-popup-button" data-target-popup="studies-popup">×</button>
            </div>

            <!--Seires button, this is where the user can remove currently plotted data sets and add similar volatility indicies such as the VIX-->
            <div id="series-popup" class="popup-menu series">
                    <button type="button" class="close-popup-button" data-target-popup="series-popup">x</button>

                <div class="popup-content">

                    <div id="volatility-indicies-trigger" class ="submenu-trigger">
                        <span class="trigger-label">Volatility indicies</span>
                        <span class="trigger-arrow">▶</span>
                    </div>

                    <div id="volatility-indicies-submenu" class="submenu-content"> 
                        
                        <div class="submenu-item"> 
                            <span class="item-label">SMP500 Volatility Index(VIX)</span>
                            <button type="button" class="add-item-button" data-index-symbol="^VIX" data-index-name = "CBOE SMP500 Volatility Index">Add</button>
                        </div>

                        <div class="submenu-item">  
                            <span class="item-label">NASDAQ-100 Volatility Index(VXN)</span>
                            <button type="button" class="add-item-button" data-index-symbol="^VXN" data-index-name = "CBOE NASDAQ 100 Volatility Index">Add</button>
                        </div>

                        <div class="submenu-item">  
                            <span class="item-label">DIJA Volatility Index(VXD)</span>
                            <button type="button" class="add-item-button" data-index-symbol="^VXD" data-index-name = "CBOE DIJA Volatility Index">Add</button>
                        </div>
                        
                        <p style="font-size: 0.8em; color: #777; margin-top: 10px;">More indices...</p>
                    </div>
                                <ul id="plotted-series-list" class="series-list">
                    <!--Elements will be dynamically inserted and removed into this element ie:
                        <li data-dataset-label="EWMA(0.90)">
                            <span>EWMA(0.90)</span>
                            <button class="remove-series-button" title="Remove EWMA(0.90)">×</button>
                        </li> 
                    -->
                    </ul>
                </div>
            </div>

            <div id="pacf-popup" class="popup-menu pacf">
                <button type="button" class="close-popup-button" data-target-popup="pacf-popup">x</button>
            </div>

            <div id="model-builder-popup" class="popup-menu model-builder">
                <button type="button" class="close-popup-button" data-target-popup="model-builder-popup">x</button>
            </div>

            <div id="info-popup" class="popup-menu">
                <button type="button" class="close-popup-button" data-target-popup="info-popup">x</button>
            </div>

        </main>


        <!--Script area, all javascrips imported here for neatness-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colors@0.2.0"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>

        <script type="module" src="{{ url_for('static', filename='scriptsjs/vol_chart.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='scriptsjs/getstockreturns.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='scriptsjs/getsma.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='scriptsjs/getewma.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='scriptsjs/pacf.js')}}"></script>
        <script type="module" src="{{ url_for('static', filename='scriptsjs/ui_interactions.js')}}"></script>
        <script type="module" src="{{ url_for('static', filename='scriptsjs/series.js')}}"></script>

    </body>
</html>