<!DOCTYPE = html>
<html lang ="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Volatility Analysis</title>

        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <!--Site header-->
        <header class="site-header">
            <div class="menu-container">
                <button class="menu-button" aria-haspopup="true" aria-expanded="false" title="Navigation Menu">☰</button>
                <div class="dropdown-content">
                    <p>Navigation links (not yet implemented)</p>
                </div>
            </div>
            <h1 class="header-title">Volatility Analysis</h1>
        </header>

        <!--Container for the user to fetch the period and instrument to perform the voltaility analysis-->
        <div class="sticky-stock-info-panel">
            <form id="script-form">
                <label for="ticker">Ticker:</label>
                <input type="text" id="ticker" name="ticker" placeholder="e.g. SPY" value="SPY" required>
                <label for="start_date">Start:</label>
                <input type="date" id="start_date" name="start_date" value="2024-01-01" required>
                <label for="end_date">End:</label>
                <input type="date" id="end_date" name="end_date" value="2024-11-01" required>
                <button type="submit">Get Data</button>
            </form>
        </div>

        <!--Main app container-->
        <main class="app-main-content">
            <p style="text-align:center; padding-top: 50px;">Chart and toolbars will go here...</p>
            <!---Chart display area-->
            <div class="chart-display-area">
                <canvas id="vol_chart" aria-label="Historic_volatility_Chart"></canvas>
            </div>
        </main>


        <!--Script area, all javascrips imported here for neatness-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colors@0.2.0"></script>
        <script type="module" src="{{ url_for('static', filename='scriptsjs/vol_chart.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>
        <script type="module" src="{{ url_for('static', filename='scriptsjs/getstockreturns.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='scriptsjs/getsma.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='scriptsjs/getewma.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='scriptsjs/pacf.js')}}"></script>
    </body>
</html>